hr
{
  border-style: dotted none none none;
  border-color: darkblue;
  border-width: 5px;
  width: 7%;
}

body
{
  background-color: #cbf1f5;
  font-family: consolas;
  font-size: 16px;
}

h1
{
  color: #222831;
}

.myimg
{
  width:250px;
  height:250px;
  border-radius: 50%;
}
